<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=320, initial-scale=1">
    <link rel="stylesheet" href="./mini-default.min.css">
    <style>
      body {
        min-width: 320px;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="card">
        <h3 id="bookTitle" class="section">book title</h3>
        <p class="section"><span id="nChapters"></span> chapters / <span id="nPages"></span> pages</p>
        <p class="section">
          <button id="addButton">Add as chapter</button>
          <button id="editButton">Open editor</button>
        </p>
      </div>
    </div>
    <div id="toastContainer"></div>
  </body>
</html>
